<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <div>
      <h1>Shipped Orders</h1>
      <table>
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Shipped On:</th>
          </tr>
        </thead>
        <tbody>
          <% @shipped_orders.each do |order| %>
            <tr>
              <td><%= link_to order.id, order_path(order) %></td>
              <td><%= order.shipped_at.strftime('%m/%d/%Y')%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h1>Unshipped Orders</h1>
      <table>
        <thead>
          <tr>
            <th>Order Number</th>
          </tr>
        </thead>
        <tbody>
          <% @unshipped_orders.each do |order| %>
            <tr>
              <td><%= link_to order.id, order_path(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
